{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAFF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <style>
        div.upload_block {
            width: 300px;
            margin: 30vh auto 0px;
            border: 1px solid blue;
            border-radius: 20px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="text col-8">
            <button class="btn btn-outline-info" type="button">
                <a href="{% url 'staff' %}">
                    Daylis
                </a>
            </button>
            <button class="btn btn-outline-info active" type="button">
                <a href="{% url 'groups' %}">
                    Groups
                </a>
            </button>
            <button class="btn btn-outline-info " type="button">
                <a href="{% url 'today_table' %}">
                    Today
                </a>
            </button>
        </div>
    </div>
    </div>
    <div class="upload_block">
        {% if messages %} {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
        {% endfor %} {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label> Upload a file </label>
            <input type="file" name='csv_f' required="True">
            </br>
            <button type="submit"> Upload</button>
        </form>
    </div>



</body>

</html>