{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAFF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <style>
        p {
            text-align: center;
        }
        
        table {
            display: block;
            margin: 0 auto;
        }
        
        th {
            border-top: 1px solid rgb(0, 0, 0);
            width: 15%;
        }
        
        .main_line {
            text-transform: uppercase;
            text-align: center;
            background-color: rgb(0, 255, 136);
        }
        
        .important {
            background: #cdd9ff;
        }
        
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="text col-8">
            <button class="btn btn-outline-info" type="button">
                <a href="{% url 'staff' %}">
                    Daylis
                </a>
            </button>
            <button class="btn btn-outline-info active" type="button">
                <a href="{% url 'groups' %}">
                    Groups
                </a>
            </button>
        </div>
        <div class="settings col-4">
            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#InfoUpdateField" aria-expanded="false">
            {{user.username}}
        </button>
            <div class="info_update_field collapse" id="InfoUpdateField">
                <span class="u_u_span">
                You can change username and password here
            </span>
                <form method="POST" class="u_u_form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ n_form|crispy }}
                    </fieldset>
                    <fieldset class="form-group d-flex justify-content-center">
                        <div class="buttons">
                            <button class="btn btn-outline-danger" type="submit">Cnange Name</a></button>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-outline-info">
                <a href="{% url 'password_change' %}">Change Password</a>
            </button>
            </div>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#ConfirmationField" aria-expanded="false">
            Logout
        </button>
            <div class="confirmation_field collapse" id="ConfirmationField">
                <span class="conf_span">
                Are you sure you want to log out?
            </span>
                <div class="buttons">
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#ConfirmationField" aria-expanded="false">
                    No
                </button>
                    <button class="btn btn-outline-danger"><a href="{% url 'logout' %}?next=/">Yes</a></button>
                </div>
            </div>
        </div>
    </div>
    <p>Today</p>
    <table border="1px" width="90%" cellpadding="5">
        <tr class="main_line">
            <th>Name</th>
            <th>Phone</th>
            <th>Group</th>
            <th>Course</th>
            <th>wishes</th>
            <th>comments</th>
            <th>payment_history</th>
        </tr>
        {% for people in today_wishes %}
        <tr>
            <th>{{people.name}}</th>
            <th>{{people.phone}}</th>
            <th>{{people.group}}</th>
            <th>{{people.course}}</th>
            <th class="important">{{people.wishes}}</th>
            <th>{{people.today_comments}}</th>
            <th>{{people.payment_history}}</th>
        </tr>
        {% endfor %} {% for people in today_comments %}
        <tr>
            <th>{{people.name}}</th>
            <th>{{people.phone}}</th>
            <th>{{people.group}}</th>
            <th>{{people.course}}</th>
            <th>{{people.wishes}}</th>
            <th class="important">{{people.today_comments}}</th>
            <th>{{people.payment_history}}</th>
        </tr>
        {% endfor %} {% for people in today_pay %}
        <tr>
            <th>{{people.name}}</th>
            <th>{{people.phone}}</th>
            <th>{{people.group}}</th>
            <th>{{people.course}}</th>
            <th>{{people.wishes}}</th>
            <th>{{people.today_comments}}</th>
            <th class="important">{{people.payment_history}}</th>
        </tr>
        {% endfor %}
    </table>
    <p></p>
    <p></p>
    <table border="1px" width="90%" cellpadding="5">
        <tr class="main_line">
            <th>Всего</th>
            <th>Оплатили</th>
            <th>Частично оплатили</th>
            <th>Не оплачено</th>
            <th>Заработок</th>
            <th>Оплачено</th>
            <th>Заплатят</th>
        </tr>
        <tr>
            <th class="center">{{people_all_num}}</th>
            <th class="center">{{people_done}}</th>
            <th class="center">{{people_partially}}</th>
            <th class="center">{{people_waiting}}</th>
            <th class="center">{{money_all_num}}</th>
            <th class="center">{{money_paid_num }}</th>
            <th class="center">{{money_will_num}}</th>
    </table>



</body>

</html>